#navbar {
    height: 95px;
}

#img1 {
    height: 70px;
    vertical-align: middle;
    margin-right: 15px;
}
#img2 {
    height: 70px;
    vertical-align: middle;
    margin-right: 15px;
}
#img3 {
    height: 70px;
    vertical-align: middle;
}