<nav id="navbar" class="navbar navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img id="img1" src="https://project-demo-dot-springmldemoproject.uc.r.appspot.com/assets/images/unnamed.png" class="d-inline-block align-top" alt="">
        <img id="img2" src="https://project-demo-dot-springmldemoproject.uc.r.appspot.com/assets/images/Logo.png" class="d-inline-block align-top" alt="">
        <img id="img3" src="https://project-demo-dot-springmldemoproject.uc.r.appspot.com/assets/images/logoc.png" class="d-inline-block align-top" alt="">
      </a>
      <a href="#">getvaccine.fl.gov</a>
    </div>
  </nav>