<div class="container">
    <h1>
      COVID-19 Vaccine intake for Florida
    </h1>
    
    <p>
      Please enter your information in preparation for the COVID-19 vaccination process.
    </p>
    <br>
  
    <button type="button" routerLink="/admin" class="btn btn-primary btn-lg">COVID-19 Vaccine intake for Florida</button><br><br>
    
   <i><p>Please be advised - The Florida Department of Health will never ask you for your 
      bank account number, password, or other financial information.</p></i>
  
  </div>